/* This section is a style declaration that applies to the entire page */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Poppins", "sans-serif";
}

/*This is the header and hero banner style section */
header {
  position: fix;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgb(94, 167, 250);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  z-index: 100;
}

.top-nav a {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  text-decoration: none;
  margin-left: 10px;

}

nav {
 display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: none;
}

.top-nav :hover {
    color: #ff1e00;
  }

body {
  height: 100vh;
  line-height: 1.5;
  background-color: none;
}

.hero-banner{
  background-image: url(../images/02-hero-bg.jpg);
  text-decoration: #fff;
  text-decoration-color: rgb(161, 246, 246);
  color: #fff;
  height: 200px;
  position: relative;
}

.brand-text {
  display: flex;
  flex-direction: column;  
  background-color: rgb(149, 187, 224);
  text-decoration-color: rgb(16, 17, 17);
  width: 400px;
  position: absolute;
  bottom: 20px;
  right: 50px;
  padding: 20px;
  margin: 20px;
  border: 5px solid;
}
 
 li >a{
  color: black;
  margin: 5px;
 }

 li {
list-style: none;
}

ul {
  display: flex;
}

.page-section {
 display: flex;
 padding: 50px;
}

.content {
  flex: 0 0 88%;
}

/*This is about me style section */

.page-section h2{
  margin-right: 50px;
  text-align: right;
  flex: 0 0 10%;
  border-right: 5px solid;
  padding: 10px;
  border-color: rgb(34, 37, 37);
  position: relative;
}

/*This is portfolio container style section */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.project-name {
  display: flex;
  flex-wrap: wrap;
  background-color: aqua;
  width: 180px;
}

.single-project{
  border-style: solid;
  border-color: rgb(54, 147, 243);
  padding-block: 100px;
  width: 1500px;
  bottom: 20px;
  flex-basis: calc(50% - 1em);
  margin: 0.5em;
  align-items: flex-end;

}

.single-project:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.project-container {
  background-color: aqua;
  width: 150px;
  align-items: flex-start;
  
}

#password-generator {
  background-image: url(../images/password-generator1.png);
  background-repeat: no-repeat; 
  background-size: contain;
  background-position: center;
}

#hero {
  background-image: url(../images/hero.png);
}

#console-finances {
  background-image: url(../images/02-portfolio-2.jpg);
}

#stfg {
  background-image: url(../images/stfg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#michelle-cole {
  background-image: url(../images/michelle-logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}








/* This is footer style section */
.contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  background-color: none;
  font-size: large;
}

.contact :hover{
  color: rgb(87, 133, 180);
  background-color: antiquewhite 0 255 255;
}

/* Media query declaration for screens that are 600px wide or less, to make the menu links stack on top of each other instead of next to each other */
@media only screen and (max-width: 600px) {
  .top-nav a {
    float: none;
    width: 100%
  }
}


